<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv8 Live Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-sobre.css') }}">
</head>

<body>
    <nav>
        <div class="logo"><a href="/">YOLOv8</a></div>
        <div class="nav-items">
            <a href="deteccao.html">Detecção</a>
            <a href="sobre.html">Sobre</a>
        </div>
        <button class="hamburger" aria-label="Menu">☰</button>
    </nav>
    <section class="caixa">
        <div class="caixa-container">
            <div class="column-left">
                <h1>Sobre o Projeto</h1>
                <p>
                    Projeto acadêmico baseado em detecção de instrumentos hospitalares.

                    Nosso projeto apresenta uma solução inovadora para a gestão de instrumentos hospitalares, utilizando
                    técnicas avançadas de inteligência artificial. Focado na organização de maletas cirúrgicas, um
                    processo crítico em ambientes hospitalares, buscamos reduzir erros humanos e aumentar a eficiência
                    operacional, garantindo maior segurança e qualidade nos procedimentos médicos.
                    A tecnologia central do projeto é o modelo YOLOv8n (You Only Look Once), uma abordagem de visão
                    computacional de alta performance, que permite o reconhecimento e a classificação de instrumentos
                    cirúrgicos em tempo real. Para isso, foi desenvolvido um sistema que utiliza um dataset
                    personalizado, construído com imagens de instrumentos coletadas, rotuladas e tratadas com técnicas
                    de aumentação, garantindo robustez e precisão no treinamento do modelo.
                    A solução permite a validação de maletas cirúrgicas diretamente por dispositivos WEB, e está
                    hospedada na AWS, empacotada em Docker, a combinação de eficiência e acessibilidade se adequa às
                    necessidades hospitalares sem exigir grandes mudanças na infraestrutura existente.
                    O projeto foi testado em ambiente controlado, apresentando métricas como mAP e F1-score que
                    comprovam sua viabilidade prática. Além disso, destaca-se o potencial da inteligência artificial na
                    área da saúde, mostrando como a automação e a tecnologia podem transformar processos hospitalares,
                    proporcionando maior confiança aos profissionais de saúde e pacientes.
                    Este é um exemplo do poder da tecnologia quando aplicada para resolver problemas reais, e representa
                    um passo importante na modernização e automação do setor de saúde.
                </p>
            </div>
        </div>
    </section>
</body>
<script>
    document.querySelector('.hamburger').addEventListener('click', () => {
        document.querySelector('.nav-items').classList.toggle('active');
    });
    document.addEventListener("DOMContentLoaded", () => {
        const links = document.querySelectorAll(".navbar-menu a");
        links.forEach(link => {
            if (link.href === window.location.href) {
                link.style.backgroundColor = "#575757";
                link.style.borderRadius = "5px";
            }
        });
    });
</script>

</html>